@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Sacramento&display=swap');

body {
    width: 90vw;
    margin: auto;
    font-size: 20px;
}

section {
    padding: 40px; /*preenchimento [interno] */
}

img {
    width: 25px;
}

#apresentacao {
    text-align: center;
    line-height:1.5;
    background-color: lightcoral;
}

#formacaoAcademica {
    background-color: lightgreen;
}

#experienciaProfissional {
    background-color: bisque;
}

.title-secao {
    text-transform: uppercase;
    font-family: "Orbitron", sans-serif;
}

.name {
    margin: 2rem 1rem 3rem 4rem;
    color: red;
    font-family: "Sacramento", cursive;
    font-weight: 200;
}