/* body {
    text-align: justify;
    font-family: sans-serif, 'Times New Roman';
    margin: 80px 100px 100px 100px;
} */
body{
    width: 90vw;
    margin: auto;
    font-size: 20px;
}

section{
    background-color: lightgrey;
    padding: 40px; /*preenchimento [interno] */
}

h1 {
    margin-bottom: 60px;
}

h2 {
    font-size: 26px;
}

h3{
    margin-left: 20px;
    font-size: 18px;
}

p {
    margin-left: 20px;
    font-size: 15px;
}

header {
    line-height: 1.5;
}

img {
    width: 25px;
}

#apresentacao {
    text-align: center;
    line-height:1.5;
}
